great-expectations==0.16.5
airflow-provider-great-expectations==0.1.5
apache-airflow-providers-airbyte==2.1.4
dbt-core==1.2.5
dbt-postgres==1.2.5
dbt-redshift==1.2.1
dbt-snowflake==1.2.1
dbt-bigquery==1.2.1
