great-expectations==0.18.10
airflow-provider-great-expectations==0.3.0
apache-airflow-providers-airbyte==3.9.0
dbt-core==1.10.4
dbt-postgres==1.9.0
dbt-redshift==1.9.5
dbt-snowflake==1.10.0
dbt-bigquery==1.10.0
